<div class="container">
  <h1>Cadastrar Usuário</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label 'Nome' %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Nome" %>
    </div>

    <div class="form-group">
      <%= f.label 'Usuário' %><br />
      <%= f.text_field :name, class: "form-control", placeholder: "Usuário" %>
    </div>

    <div class="form-group">
      <%= f.label 'E-mail' %><br />
      <%= f.text_field :name, class: "form-control", placeholder: "exemplo@email.com" %>
    </div>

    <div class="form-group">
      <%= f.label 'Senha' %>
      <% if @minimum_password_length %>
      <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha" %>
    </div>

    <div class="form-group">
      <%= f.label 'Confirmação de senha' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmação de senha" %>
    </div>
    
    <button type="submit" class="btn btn-default">Salvar</button>
    <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-default" %><br />
  <% end %>
</div>
