<h1>Novo Evento</h1>

<%= form_tag(action: :create) do %>
  <div class="field">
    <%= label_tag :title %><br />
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :description %><br />
    <%= text_field_tag :description %>
  </div>

  <div class="field">
    <%= label_tag :start %><br />
    <%= datetime_field_tag :start %>
  </div>

  <div class="field">
    <%= label_tag :duration %><br />
    <%= number_field_tag :duration %>
  </div>

  <div class="field">
    <%= label_tag :particular %><br />
    <%= check_box_tag :particular %>
  </div>

  <div class="actions">
    <%= submit_tag("Salvar") %>
  </div>
<% end %>

<%= link_to 'Voltar', root_path %>
