<div class="container">
  <h1>Nova Rota</h1>
  <br>
  <%= form_tag(action: :create) do %>
    <div class="field">
      <%= label_tag :title, "Título" %>
      <%= text_field_tag :title, nil, class: "form-control", placeholder: "Título", autofocus: true %>
    </div>

    <div class="field">
      <%= label_tag :origin, "Origem" %>
      <%= text_field_tag :origin, nil, class: "form-control", placeholder: "fga, gama" %>
    </div>

    <div class="field">
      <%= label_tag :destination, "Destino" %>
      <%= text_field_tag :destination, nil, class: "form-control", placeholder: "unb" %>
    </div>

    <div class="field">
      <%= label_tag :deviation, "Desvio" %>
      <%= text_field_tag :deviation, nil, class: "form-control", placeholder: "Desvio para comparação de rotas" %>
    </div>
    <br>

    <div class="field">
      <%= label_tag :travel_mode, "Modo de transporte" %>
      <select id="travel_mode" name="travel_mode" class="form-control">
        <option value="bicycling">Bicicleta</option>
        <option value="walking">A Pé</option>
        <option value="driving">Carro</option>
        <option value="transit">Transporte Público</option>
      </select>
      <br />
    </div>

    <%= hidden_field_tag :distance %>
    <%= hidden_field_tag :points %>

    <div align="center">
      <a href="#" id="view_route" class="btn btn-primary" align="center">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        Visualizar
      </a>
    </div>
    <br>
    <div id="map" style="height: 500px; width: 800px; margin-left:auto; margin-right:auto;"></div>
    <br>
    <div class="actions" align="center">
      <%= button_tag id: 'save', class: "btn btn-success" do %>
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Salvar
    <% end %>
    </div>
    <br>
    <br>
  <% end %>
</div>