<div class="container">
  <h1 align="center">Rota: <%= @route.title %></h1>
  <div id="map" class="show_route" style="height: 500px; width: 800px; margin-left:auto; margin-right:auto;"></div>
</div>

<%= content_tag :div, class: "travel", data: {travel: @mode_of_travel} do %>
<% end %>
<%= content_tag :div, class: "origin", data: {origin: @origin} do %>
<% end %>
<%= content_tag :div, class: "destination", data: {destination: @destination} do %>
<% end %>
<%= content_tag :div, class: "locations", data: {locations: @locations} do %>
<% end %>
